<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Mon devis</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Mon devis</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row bar">
      <div class="col-lg-12">
        <p class="text-muted lead"></p>
      </div>
      <div id="basket" class="col-lg-9">
        <div class="box mt-0 pb-0 no-horizontal-padding">
          <form method="get" action="shop-checkout1.html">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">PRODUIT</th>
                    <th>QTÉ</th>
                    <th *ngIf="Products"></th>
                  </tr>
                </thead>
                <tbody *ngIf="Products">
                  <tr *ngFor="let item of Products" (click)="checkitem(item)">
                    <td>
                      <a
                        ><img
                          src="{{
                            this.catservice.host +
                              '/photoProduct/' +
                              item.product.id
                          }}"
                          alt=""
                          class="img-fluid image1"
                      /></a>
                    </td>
                    <td>
                      <a href="#">{{ item.product.name }}</a>
                    </td>
                    <td>
                      <input value="{{ item.quantity }}" />
                    </td>

                    <td>
                      <a (click)="removeproduct(item)"
                        ><i class="fa fa-trash-o"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
            <div
              class="box-footer d-flex justify-content-between align-items-center"
            >
              <div class="left-col">
                <a href="/products" class="btn btn-secondary mt-0"
                  ><i class="fa fa-chevron-left"></i> Continue shopping</a
                >
              </div>
              <div class="right-col">
                <button class="btn btn-secondary">
                  <i class="fa fa-refresh"></i> Update cart
                </button>
                <button
                  (click)="gotocheckout()"
                  class="btn btn-template-outlined"
                >
                  Confirmer la commande <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</div>
