<div id="all">
  <!-- Top bar end-->
  <!-- Login Modal-->

  <!-- Login modal end-->
  <!-- Navbar Start-->

  <!-- Navbar End-->

  <section class="no-mb relative-positioned">
    <!--
        *** JUMBOTRON ***
        _________________________________________________________
        -->
    <div
      style="
        background: url('assets/img/bg.jpg') center center repeat;
        background-size: cover;
      "
      class="jumbotron relative-positioned color-white text-md-center"
    >
      <div class="dark-mask mask-primary"></div>
      <div class="container">
        <div class="row mb-small">
          <div class="col-md-12 text-center">
            <h1 class="text-uppercase">MAD MATERIEL AUTOS ET DERIVES</h1>
            <h2 class="text-uppercase"></h2>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-md-6 mb-small">
            <img src="assets/img/nafta-car.png" alt="..." class="img-fluid" />
          </div> -->
          <div class="col-md-12 text-center">
            <p class="text-uppercase text-bold">
              spécialisée dans la fabrication de pièces électriques pour
              automobiles feux de signalisation, optiques de phares,
              rétroviseurs...
            </p>

            <p>
              <a
                class="scroll-to btn btn-template-outlined-white"
                (click)="getproductsbycat(1)"
                >Voir Info</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- *** JUMBOTRON END ***-->
  </section>
  <section class="bar bg-gray no-mb padding-big text-md-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercase">FEUX AVANT</h2>

          <p class="parag">
            Les phares composites modernes sont incorporés dans la conception du
            corps pour un style et une aérodynamique améliorés. Ils permettent
            aux fabricants la liberté d'inclure des clignotants / stationnement
            / feux de circulation dans le boîtier du phare si vous le souhaitez
            ainsi que d'utiliser différentes formes d'éclairage, y compris les
            LED, projecteur faisceaux, halos, etc Malheureusement, les lentilles
            en plastique sur ces lumières se détériorer avec les années Et des
            kilomètres, devenus abrités des débris de la route, et décolorés,
            brumeux et opaque du soleil et des éléments.
          </p>
          <p>
            <a class="btn btn-template-main" (click)="getproductsbycat()"
              >Voir</a
            >
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img
            src="assets/img/31.jpg"
            alt=""
            class="img-fluid"
            style="width: 500px; height: 250px"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="bar no-mb color-white padding-big text-md-center bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <img
            src="assets/img/32.jpg"
            alt=""
            class="img-fluid"
            style="width: 500px; height: 300px"
          />
        </div>
        <div class="col-md-6">
          <h2 class="text-uppercase">FEUX ARRIÈRE</h2>
          <p class="mb-small">
            Les feux arrières sont importants pour la sécurité, rendant votre
            véhicule visible la nuit et vous permettant de laisser les autres
            conducteurs savoir quand vous êtes arrêter et tournant, mais ils
            sont aussi des caractéristiques de style qui sont si distinctifs que
            vous pouvez dire la marque et le modèle de certains véhicules Juste
            par le modèle d'illumination révélé dans l'obscurité. Que vous soyez
            réparateur d'un pilote quotidien, la mise à niveau de son apparence,
            ou la restauration d'un classique, des ampoules à incandescence de
            base pour les dernières fibres optiques et LED, nous avons tous vos
            besoins d'éclairage.
          </p>
          <p>
            <a
              (click)="getproductsbycat()"
              class="btn btn-template-outlined-white"
              >Voir</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bar bg-gray no-mb padding-big text-center-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercase">RÈTROVISEURS</h2>
          <p class="mb-small">
            Pour conduire en toute sécurité, vous devez être conscient de ce qui
            se passe autour de votre véhicule en tout temps. Comme le champ
            visuel d'une personne moyenne est d'environ 180 degrés, soit environ
            la moitié de l'environnement total, vous avez besoin de miroirs pour
            voir le reste - ce qui est derrière et sur les côtés. Si vos miroirs
            ont besoin d'être réparés ou remplacés, ou si vous souhaitez les
            mettre à niveau pour améliorer la vision, le style ou les deux, nous
            avons les produits pour augmenter la sécurité et améliorer
            l'apparence.
          </p>
          <p>
            <a (click)="getproductsbycat()" class="btn btn-template-main"
              >voir</a
            >
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="assets/img/33.jpg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>

  <!-- GET IT-->

  <!-- FOOTER -->
</div>
