<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-unstyled footer-blog-list">
          <li class="d-flex align-items-center">
            <div class="image">
              <img src="assets/img/loci.png" alt="..." class="img-fluid" />
            </div>
            <div class="text">
              <h5 class="mb-0">
                <a href="post.html">Siége / Head Office :</a>
              </h5>
              <p>
                MAD,N°11 Sotubi indus. Area P.Box:174 Megrine 2033 Tunisia
              </p>
              <p>
                MAD,N°11 Zone Industrielle Sotubi BP:174 Megrine 2033 Tunisie
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul class="list-unstyled footer-blog-list">
          <li class="d-flex align-items-center">
            <div class="image">
              <img src="assets/img/loci.png" alt="..." class="img-fluid" />
            </div>
            <div class="text">
              <h5 class="mb-0"><a href="post.html">Usine / Factory :</a></h5>
              <p>MAD,N°7 Mghira II indu. Area Fouchana 2082 Tunisia</p>
              <p>MAD, N° 7 Mghira II Zone Industrielle 2082 Fouchana Tunisie</p>
            </div>
          </li>
        </ul>
        <hr class="d-block d-lg-none" />
      </div>
      <div class="col-lg-3">
        <h4 class="h6">Contact</h4>

        <i class="fa fa-phone">
          + 216 70 026 646
        </i>

        <i class="fa fa-fax" aria-hidden="true">
          + 216 70 026 649
        </i>

        <i class="fa fa-envelope-o" aria-hidden="true">
          contact@mad-automotives.com
        </i>

        <a href="contact.html" class="btn btn-template-main"
          >Go to contact page</a
        >
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center-md">
          <p>&copy; 2020. Matériels Autos & Dérivés</p>
        </div>
      </div>
    </div>
  </div>
</footer>
